@use 'mixins/mixins.scss' as *;

@include b(icon) {
  width: 1rem;
  height: 1rem;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  color: inherit;
  line-height: 1;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}
