@use 'mixins/mixins.scss' as *;

@include b(tree) {
  display: inline-block;
  width: 100%;
}

@include b('tree-node') {
  padding: 5px 0;
  font-size: 16px;
  line-height: 25px; // 与图标高度一致，确保垂直对齐

  @include e('label') {
    cursor: pointer;
  }

  // 为禁用状态的节点标签设置不同的光标样式
  @at-root {
    .z-tree-node.is-disabled .z-tree-node__label {
      cursor: not-allowed;
    }
  }

  &:hover {
    background: #ccc;
  }

  @include e('content') {
    display: flex;
    align-items: center;
  }

  @include e('expand-icon') {
    display: inline-flex;
    margin: 0 15px;
    align-items: center;
    justify-content: center;
    transform: rotate(0);
    transition: transform .2s ease-in;
    cursor: pointer;

    &.expanded {
      transform: rotate(90deg);
    }

    &.is-leaf {
      display: none;
    }

    .z-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  @include when(selected) {
    background-color: #409EFF;
    color: #fff;
    border-radius: 4px;
    padding: 2px 8px;
    margin: 0 4px;

  }


}
