@use 'mixins/mixins.scss' as *;

@include b(virtual-list) {
  overflow-y: scroll;
  position: relative;
  border: 2px solid #da1111;

  @include e('scroll-list') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
