 @use 'config' as *;
 @forward 'config';


 // .z-button{}
 @mixin b($block) {
   $B: $namespace + '-' + $block;

   .#{$B} {
     @content;
   }
 }

 // .z-button.is-xxx
 @mixin when($state) {
   @at-root {
     #{&}.#{$state-prefix + $state} {
       @content;
     }
   }
 }

 // &--primary => .z-button--primary
 @mixin m($modifier) {
   @at-root {
     #{&+$modifier-separator+$modifier} {
       @content;
     }
   }
 }

 // &__header => .z-button__header
 @mixin e($element) {
   @at-root {
     #{&+$element-separator+$element} {
       @content;
     }
   }
 }

 @mixin button-variant($color, $background-color, $border-color) {
   color: $color;
   background-color: $background-color;
   border-color: $border-color;
   transition: all 0.3s ease;

   //  &:hover,
   //  &:focus {
   //    background-color: darken($background-color, 5%);
   //    border-color: darken($border-color, 5%);
   //  }

   //  &:active {
   //    background-color: darken($background-color, 10%);
   //    border-color: darken($border-color, 10%);
   //  }
 }
